@import '../../../global-style.scss';
.note-card-container{
    position: relative;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 2px rgba(black, 0.068);//2px to the bottom, 15px is the blur, the next 2px is the spread value: how much larger th e box shadow is as compared to the main div
    transition: box-shadow 0.2s ease-out ;

    &:hover{ //the & sign is a scss operator allowing us to use  the hover styling within the elements with note-card-container
        cursor: pointer;
        box-shadow:0px 0px 0px 4px rgba(black, 0.068);//on hover, make box shadow look like an outline

        .x-button{
            opacity:1;
            transition-delay: 0.35s;
        }
    }

    .note-card-content{
        padding:25px;

        .note-card-title{
           font-size:22px;
           font-weight: bold;
           color: $purple; 
        }
        .note-card-body{
            color: #555;
            position: relative;
            max-height: 80px;// this is the max height b4 trunctation
            overflow: hidden;
        }
        .fade-out-truncation{
            position:absolute;
            bottom: 0;
            pointer-events: none; //allows
            height:50%;
            width: 100%;
            // background-color: red;
            background: linear-gradient(to bottom, rgba(white,0) 0%, rgba(white, 0.8) 50%, white 100%);
        }
    }
    
}
.x-button{
    position: absolute;// for this to work, we must add position:relative to the div that we want to apply position absolute to
    top: 12px;
    right: 12px;
    height: 34px;
    width: 34px;
    background-color: $light-red;
    border-radius: 4px;
    transform: opacity 0.2s ease-out;
    opacity: 0;

    &:hover{
        background-color: darken($light-red, 2%); //darken is a property to darken colors
    }
    &:active{
        background-color: darken($light-red, 6%);
    }

}